# Node dependencies
/backend/node_modules/
/frontend/node_modules/

# Environment files
*.env

# Frontend build output
/frontend/dist/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE directories
.vscode/
.idea/
